<div class="confirmation confirmation--hidden">
  <div class="confirmation__text">
    Are you sure that you want to <span *ngIf="!isGroupOwner">leave </span> <span *ngIf="isGroupOwner">delete </span>
    <span class="text--strong">{{ group?.name }}</span
    >?
  </div>
  <div class="confirmation__buttons">
    <button *ngIf="!isGroupOwner" class="button--green" (click)="leaveGroup(groupId)">Yes</button>
    <button *ngIf="isGroupOwner" class="button--green" (click)="deleteGroup(groupId)">Yes</button>
    <button class="button--red cancel" (click)="showConfirmation()">No</button>
  </div>
</div>
<div class="container" *ngIf="group">
  <div class="header">
    <div class="button__wrapper">
      <button *ngIf="!isGroupOwner" class="button--red" (click)="showConfirmation()">
        Leave
      </button>
      <button *ngIf="isGroupOwner" class="button--red" (click)="showConfirmation()">
        Delete
      </button>
    </div>
  </div>
  <div class="group__content">
    <div class="group__info">
      <div class="group__name">
        <span class="name__label text--strong">
          Name:
        </span>
        <span class="name__value">
          {{ group.name }}
        </span>
      </div>
      <div class="group__owner">
        <span class="owner__label text--strong">
          Owner:
        </span>
        <span class="owner__value"> {{ group.owner.first_name }} {{ group.owner.last_name }} </span>
      </div>
      <div class="group__members">
        <span class="members__label text--strong">
          Members:
        </span>
        <span class="members__value">
          {{ group.membersCount }}
        </span>
      </div>
    </div>
    <div class="post__form">
      <form [formGroup]="postForm" (ngSubmit)="addPost()">
        <textarea class="textarea" formControlName="content"></textarea>
        <button type="submit" class="add-post__button">Dodaj post</button>
      </form>
    </div>
    <div class="group__posts">
      <app-post class="posts__post" *ngFor="let post of posts" [post]="post" [withGroup]="false"></app-post>
    </div>
  </div>
</div>
