.container {
  display: grid;
  grid-template-areas: '. header .' '. content .';
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 9vh min-content;
  color: rgb(94, 0, 138);
  margin: 0 auto;


}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  grid-area: header;
  justify-content: space-between;
}

.button__wrapper {
  display: block;
}

.button--red,
.button--green {
  height: 40px;
  width: 80px;
}

.group__content {
  grid-area: content;
}

.group__info {
  font-size: 24px;
}

.group__name,
.group__owner,
.group__members {
  margin: 10px 0 10px 0;
}

.posts {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
}

.posts__post {
  background-color: red;
  border-radius: 15px;
  margin: 15px 0 15px 0;
  width: 100%;
}

.post__header {
  display: grid;
  padding: 5px 10px 5px 10px;
  position: relative;
}

.post__header::after {
  background-color: black;
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.post__author,
.post__group,
.triangle {
  font-weight: 600;
}

.post__date {
  font-size: 13px;
}

.post__content {
  padding: 5px 10px 5px 10px;
}

.confirmation {
  background-color: white;
  color: rgb(94, 0, 138);
  border: 1px rgb(94, 0, 138) solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 25px 15px 25px;
  position: absolute;
  top: 35%;
  width: 350px;
  z-index: 2;
}

.confirmation--hidden {
  display: none;

}

.confirmation__text {
  font-size: 24px;
  margin-bottom: 25px;
  text-align: center;
}

.confirmation__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.textarea {
  height: 200px;
  resize: none;
  width: 100%;
  border: 1px rgb(94, 0, 138) solid;
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgba(94, 0, 138, .2);
  padding: 20px;

}

.add-post__button {
  display: block;
  background-color: white;
  color: rgb(94, 0, 138);
  border: 1px rgb(94, 0, 138) solid;
  box-shadow: 10px 10px 10px rgba(94, 0, 138, .2);
  margin: 15px auto;
  width: 50%;
  height: 35px;
  border-radius: 25px;
  font-size: 20px;
}

.add-post__button:hover{
  color: white;
  background-color: rgb(94, 0, 138);
  cursor: pointer;
}

.yes__button{
  background-color: white;
  color: rgb(94, 0, 138);
  border: 1px rgb(94, 0, 138) solid;
  width: 55px;
  height: 35px;
  box-shadow: 10px 10px 10px rgba(94, 0, 138, .2);

}

.cancel_button{
  color: white;
  background-color: rgb(94, 0, 138);
  width: 55px;
  height: 35px;
  box-shadow: 10px 10px 10px rgba(94, 0, 138, .2);

}


@media only screen and (min-width: 768px) {
  .container {
      width: 60%;
  }
}
