.container {
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    font-size: 21px;
    height: 10vh;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
}

.navigation__item {
    cursor: pointer;
    height: fit-content;
}

.content {
    height: 90vh;
    width: 100%;
}

.content__wrapper {
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    height: 156px;
    left: 0%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.content__header,
.content__description {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content__header {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.content__description {
    font-size: 24px;
    text-align: center;
}