.container {
  background-color: white;
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
  width: 100%;
  color: rgb(94, 0, 138);
  box-shadow: 10px 10px 10px rgba(94, 0, 138, .2);
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  border: 1px solid rgba(94, 0, 138, .1);
}

.post__user{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 10%;
  padding-left: 5px;
}

.post__user img{
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.post__user span{
  font-size: 12px;
  color: rgb(46, 46, 46);

}

.post__credentials{
  width: 90%;
  padding: 0 15px;
}

.post__header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post__header span{
  cursor: pointer;
}

.post__date {
  font-size: 11px;
  color: rgb(46, 46, 46);

}

.post__content {
  padding: 5px 0;
  color: rgb(46, 46, 46);
  height: 60px;
  cursor: pointer;
}



