.container {
    background-color: white;
    width: 100%;
    min-height: 100vh;
    color: rgb(94, 0, 138);
    display: flex;
    flex-direction: column;
    padding: 35px 15px;
    background-image: url("../../../assets/img/tło3.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
  }

  .header{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }
  
  .post__user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .post__user img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 3px solid white;
  }
  
  .post__user span{
    font-size: 12px;
    color: rgb(46, 46, 46);
    margin-left: 15px;
  
  }
  
  .post__credentials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .post__group{
    cursor: pointer;
  }
  
  .post__date {
    font-size: 15px;
    color: rgb(46, 46, 46);
  
  }
  
  .post__content {
    color: rgb(46, 46, 46);
    height: 250px;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 15px;
    border: 1px solid rgb(94, 0, 138);
    padding: 10px;
    
  }

  .post__comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .comment {
    background-color: white;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
    width: 100%;
    color: rgb(94, 0, 138);
    box-shadow: 10px 10px 10px rgba(94, 0, 138, .2);
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    border: 1px solid rgba(94, 0, 138, .1);
  }
  
  .comment__user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
  }
  
  .comment__user img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
  }
  
  .comment__user span{
    font-size: 12px;
    color: rgb(46, 46, 46);
  
  }
  
  .comment__credentials{
    width: 80%;
    padding: 0 10px;
  }
  
  .comment__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .comment__header span{
    cursor: pointer;
  }
  
  .comment__date {
    font-size: 9px;
    color: rgb(46, 46, 46);
  
  }
  
  .comment__content {
    padding: 5px 0;
    color: rgb(46, 46, 46);
    height: 60px;
    cursor: pointer;
  }

  .comment__form {
    height: 250px;
    width: 90vw;

  }

  .comment__form textarea{
    height: 200px;
    width: 100%;
    border-radius: 25px;
    padding: 15px;
  }

  .bottom__form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
  }


  .add-comment__button{
    background-color: white;
    color: rgb(94, 0, 138);
    border: 1px rgb(94, 0, 138) solid;
    box-shadow: 10px 10px 10px rgba(94, 0, 138, .2);
    width: 75px;
    height: 35px;
    border-radius: 25px;
    font-size: 13px;
  }

  .add-comment__button:hover{
    color: white;
    background-color: rgb(94, 0, 138);
    cursor: pointer;
  }

  @media only screen and (min-width: 768px) {
    .container {
        width: 60%;
        font-size: 20px;
        background-image: url("../../../assets/img/tło2.png");
        min-height: calc(100vh - 60px);
    }

    .post__user img {
      width: 100px;
      height: 100px;
      border-radius: 100px;
      border: 3px solid white;
    }
    
    .post__user span {
      font-size: 20px;
      color: rgb(46, 46, 46);
      margin-left: 15px;
    
    }

    .comment__form {
      width: 60vw;
    }
    .comment__form textarea{
      width: 90%;

    }

  }
  

  
  
  
  
  
  
  