<div class="container" *ngIf="post">
    <div class="header">
        <div class="post__date">{{post.date_posted}}</div>
        <div class="post__credentials">
            <span class="post__group" [routerLink]="['/home/group', post.group.id]">
                {{post.group.name}}
            </span>
            <div class="post__user">
                <span>{{post.owner.first_name}} {{post.owner.last_name}}</span>
                <img [src]="'http://127.0.0.1:8000' + post.owner.image">
            </div>
        </div>
    </div>
    <div class="post__content">
        {{post.content}}
    </div>
    <div class="post__comments">
        <div class="comment__form">
            <form [formGroup]="commentForm" (ngSubmit)="addComment()">
              <textarea class="textarea" formControlName="content"></textarea>
                <button type="submit" class="add-comment__button">Add comment</button>
            </form>
            <input type='file' class="load-file" style="color: white;" (change)="onFileSelected($event)">

        </div>
        <div  class="comment" *ngFor="let comment of comments">
            <div class="comment__user">
                <img src="../../../assets/img/default.png">
                <div class="comment__date">{{comment.date_commented}}</div>
            </div>
              <div class="comment__credentials">
                <div class="comment__header">
                  <span>{{comment.owner.first_name}} {{comment.owner.last_name}}</span>
                </div>
                <div class="comment__content">
                    {{comment.content}}
                </div>
                <div class="file">
                    {{comment.file}}
                </div>
            </div>
        </div>
    </div>