<div class="container" *ngIf="post">
  <div class="header">
    <div class="post__date">{{ post.date_posted | date: 'dd MMM yyyy HH:mm' }}</div>
    <div *ngIf="editable" class="icons__wrapper">
      <img (click)="editToggle()" alt="edit" class="icon" src="../../../assets/img/editIcon.svg"/>
      <img (click)="toggleDeletePopup()" alt="edit" class="icon" src="../../../assets/img/deleteIcon.svg"/>
    </div>
    <div class="post__credentials">
      <span class="post__group" [routerLink]="['/home/group', post.group.id]">
        {{ post.group.name }}
      </span>
      <div class="post__user">
        <span>{{ post.owner.first_name }} {{ post.owner.last_name }}</span>
        <img [routerLink]="['/home/profile/' + post.owner.id]" [src]="post.owner.image"
             alt="profile image"/>
      </div>
    </div>
  </div>
  <div class="post__content" *ngIf="!postEditing; else form">
    <div class="post__content__text">
      {{ post.content }}
    </div>
    <div class="post__files">
      <div class="post__image" *ngIf="post.image">
        <img [src]="post.image" alt="profile image"/>
      </div>
      <div *ngIf="post.file" class="post__file">
        <a [href]="post.file">Download attachment</a>
      </div>
    </div>
  </div>

  <ng-template #form>
    <form class="form-group" (ngSubmit)="submitPostEdit()" [formGroup]="editPostForm">
      <label>
        <textarea class="form-group__input" formControlName="content"></textarea>
      </label>
      <label>
        File:
        <input type="file" (change)="postFileChange($event)" formControlName="file" />
      </label>
      <label>
        Image:
        <input type="file" accept="image/*" (change)="postImageChange($event)" formControlName="image" />
      </label>
      <button type="submit">Save</button>
    </form>
  </ng-template>

  <div *ngIf="postDeleting" class="confirmation">
    <div class="caption__wrapper">
      Are you sure about deleting this post?
    </div>
    <div class="button__wrapper">
      <button class="approve" (click)="deletePost()">yes</button>
      <button class="decline" (click)="toggleDeletePopup()">no</button>
    </div>
  </div>

  <div class="post__comments">
    <div class="comment__form">
      <form [formGroup]="commentForm" (ngSubmit)="addComment()">
        <label>
          <textarea class="textarea" formControlName="content"></textarea>
        </label>
        <div class="bottom__form">
          <input (change)="onFileSelected($event)" accept="image/*" class="load-file"
                 type="file"/>
          <button type="submit" class="add-comment__button">Add comment</button>
        </div>
      </form>
    </div>
    <div class="comment" *ngFor="let comment of comments">
      <app-comment (refresh)="postDetails(postID)" [comment]="comment"></app-comment>
    </div>
  </div>
</div>
