.box {
    background-color: #DCE2E8;
    border: 1px grey solid;
    border-radius: 15px;
    height: 45%;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 2;
}

.box__leave {
    background: transparent;
    border: none;
    display: inline-block;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
}

.box__leave span {
    background-color: black;
    display: inline-block;
    height: 3px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 100%;
}

.box__leave span::after {
    background-color: black;
    content: '';
    display: inline-block;
    height: 3px;
    left: 0;
    position: absolute;
    top: 100%;
    transform: translateY(-50%) rotate(90deg);
    width: 100%;
}

.box__header {
    font-size: 32px;
    padding-bottom: 15px;
    text-align: center;
}

.login__form {
    display: grid;
    grid-template-areas: "email" "email-error" "password" "password-error" "button";
    grid-template-rows: 25% fit-content 25% fit-content 25%;
    height: 80%;
}

.login__form input {
    font-size: 24px;
    height: 80%;
    padding: 5px;
    width: 100%;
}

.login__form .input--email {
    grid-area: email;
}

.login__form .email--error {
    grid-area: email-error;
}

.login__form .input--password {
    grid-area: password;
}

.login__form .password--error {
    grid-area: password-error;
}

.login__form button {
    appearance: none;
    font-size: 24px;
    grid-area: button;
    height: 50px;
    transform: translateX(50%);
    width: 50%;
}