<div class="container">
  <div class="header">
    Your groups
  </div>
  <div class="errors" *ngIf="message">
    <div class="errors__error message--error">
      {{ message }}
    </div>
  </div>
  <div class="group__add">
    <button class="button--green add__button" [routerLink]="['/home/groups/add']">Create group!</button>
  </div>
  <div class="groups">
    <div *ngFor="let group of groups" class="groups_group" [routerLink]="['/home/group', group.id]">
      <div class="group__name"><span class="name__label text--strong">Name: </span>{{ group.name }}</div>
      <div class="group__owner">
        <span class="owner__label text--strong">Owner: </span>{{ group.owner.first_name }} {{ group.owner.last_name }}
      </div>
      <div class="group__members-count"><span class="members__label text--strong">Members: </span>{{ group.membersCount }}</div>
    </div>
  </div>
</div>
