.container {
    display: grid;
    grid-template-rows: 8vh min-content min-content;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: ". header ." ". group-add ." ". groups .";
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
}

.errors {
    grid-area: groups;
}

.group__add {
    grid-area: group-add;
    padding: 10px 0 10px 0;
}

.group__add .add__button {
    padding: 5px;
    height: 40px;
}

.groups {
    grid-area: groups;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.groups_group {
    width: 100%;
    background-color: white;
    height: 100px;
    margin: 15px 0 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}