<div class="container">
  <div class="header">
    Your groups
  </div>
  <div class="errors" *ngIf="message">
    <div class="errors__error message--error">
      {{ message }}
    </div>
  </div>
  <div class="group__add">
    <button class="add__button" (click)="showNewGroupForm()">
      <span>Create new group</span>
      <img src="../../../assets/img/Plus Sign-64x64"/>
    </button>
  </div>
  <div class="groups">
    <div *ngFor="let group of groups" class="groups_group" [routerLink]="['/home/group', group.id]">
      <div class="content">
        <div class="group__name"><span class="input__label">Name: </span>{{ group.name }}</div>
        <div class="group__owner">
          <span class="input__label">Owner: </span>{{ group.owner.first_name }} {{ group.owner.last_name }}
        </div>
        <div class="group__members-count"><span class="input__label">Members: </span>{{ group.membersCount }}</div>
      </div>
      <div class="check__group__icon">
        <img src="../../../assets/img/click.png">
      </div>
    </div>
  </div>
  <app-add-group (refresh)="loadGroups()" (setHidden)="showNewGroupForm()" *ngIf="newGroupFormVisible"></app-add-group>
</div>

