.container {
    padding: 25px;
}

nav {
    height: 10vh;
    width: 100%;
}

.nav__item {
    font-size: 21px;
}

.articles {
    height: 100%;
}

.article {
    margin-bottom: 25px;
}

.article__header {
    font-size: 32px;
    font-weight: 500;
    position: relative;
}

.article__header::after {
    background-color: #707070;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
}

.article__content {
    font-size: 16px;
    padding-top: 24px;
}

.contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact__header {
    font-size: 32px;
    font-weight: 700;
}