    <button (click)="changeHamburgerState()" class="hamburger">
        <span class="hamburger__wrapper">
            <span class="hamburger__inner"></span>
        </span> 
    </button>
    <nav class="nav">
        <div class="nav__item nav__item--home" (click)="navigateToPosts()">
            <span >
                Home
                </span>
        </div>
        <div class="nav__item nav__item--groups" (click)="navigateToGroups()">
            <span >
                Groups
            </span>
        </div>
        <div class="nav__item nav__item--search" (click)="navigateToSearch()">
            <span >
                Search
            </span>
        </div>
        <div class="nav__item nav__item--profile" (click)="navigateToProfile()">
            <span >
                Profile
            </span>
        </div>
        <div class="nav__item nav__item--logout" (click)="logout()">
            <span >
                Logout
                </span>
        </div>
    </nav>