.container {
    display: grid;
    grid-template-areas: ". header ." ". input ." ". results .";
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 8vh 8vh min-content;
    color: rgb(94, 0, 138);
    background-color:white;
    margin: 0 auto;


}

.header {
    display: flex;
    flex-direction: column;
    grid-area: header;
    justify-content: center;
}

.search__wrapper {
    grid-area: input;
}

.search__wrapper .search__field {
    border: none;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    height: 40px;
    padding: 5px;
    width: 80%;
    border:1px solid  rgb(94, 0, 138);
}

.search__wrapper .search__button {
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 15px;
    height: 40px;
    margin-left: 5px;
    padding: 5px;
    border:1px solid  rgb(94, 0, 138);
    background-color: white;
}

.errors {
    grid-area: results;
}

.results {
    display: flex;
    flex-direction: column;
    grid-area: results;
}

.results__result {
    align-items: center;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    margin: 15px auto 15px auto;
    width: 100%;
    background-color:rgb(94, 0, 138);
    color: white;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
    .container {
        width: 60%;
    }
  
  }