.container {
    background-color: white;
    color:rgb(94, 0, 138);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("../../../assets/img/tło4.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 45px 0 25px 15px;
}

.header span{
    width: 50%;
}

.profile-image{
    display: flex;
    justify-content: left;
    padding-right: 25px;
    width: 50%;
}
.profile-image img{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border:5px solid  white;

}

.sub-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 25px;
}

.profile__first-name,
.profile__last-name,
.profile__email {
    margin: 15px 0 15px 0;
}

.first-name__wrapper,
.last-name__wrapper,
.email__wrapper {
    display: inline;
}

.profile__input {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    height: 30px;
    padding: 5px;
}

.profile__button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 15px;
    height: 30px;
    margin-left: 5px;
    padding: 5px;
}

.edit__wrapper {
    display: inline-block;
    padding: 5px 0 5px 0;
}

.password__input,
.repeat-password__input {
    margin: 5px 0 5px 0;
}

.password__input {
    display: block;
}

.repeat-password__input {
    display: inline-block;
}

.profile__change-password{
    margin-top: 35px;
}