.container {
    display: grid;
    grid-template-areas: ". header ." ". sub-header ." ". credentials .";
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 8vh 8vh min-content;
}

.header {
    display: flex;
    flex-direction: column;
    grid-area: header;
    justify-content: center;
}

.sub-header {
    grid-area: sub-header;
}

.profile__wrapper {
    grid-area: credentials;
}

.profile__first-name,
.profile__last-name,
.profile__email {
    margin: 15px 0 15px 0;
}

.first-name__wrapper,
.last-name__wrapper,
.email__wrapper {
    display: inline;
}

.profile__input {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    height: 30px;
    padding: 5px;
}

.profile__button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 15px;
    height: 30px;
    margin-left: 5px;
    padding: 5px;
}

.edit__wrapper {
    display: inline-block;
    padding: 5px 0 5px 0;
}

.password__input,
.repeat-password__input {
    margin: 5px 0 5px 0;
}

.password__input {
    display: block;
}

.repeat-password__input {
    display: inline-block;
}