.box {
    background-color: #DCE2E8;
    border: 1px grey solid;
    border-radius: 15px;
    height: fit-content;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 2;
}

.box__leave {
    background: transparent;
    border: none;
    display: inline-block;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
}

.box__leave span {
    background-color: black;
    display: inline-block;
    height: 3px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 100%;
}

.box__leave span::after {
    background-color: black;
    content: '';
    display: inline-block;
    height: 3px;
    left: 0;
    position: absolute;
    top: 100%;
    transform: translateY(-50%) rotate(90deg);
    width: 100%;
}

.box__header {
    font-size: 32px;
    padding-bottom: 15px;
    text-align: center;
}

.register__form {
    display: flex;
    flex-direction: column;
}

.register__form input,
select {
    font-size: 24px;
    height: 80%;
    margin: 10px auto 10px auto;
    padding: 5px;
    width: 100%;
}

.register__form button {
    appearance: none;
    font-size: 24px;
    grid-area: button;
    height: 50px;
    transform: translateX(50%);
    width: 50%;
}

.register__form ul {
    list-style-type: none;
}