.container {
  min-height: 100vh;
  background-color: white;
  color: rgb(94, 0, 138);
  background-image: url('../../../assets/img/tło3.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 5%;
}

.header {
  font-size: 21px;

  align-items: center;
  display: flex;
  grid-area: header;
}

.posts {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.post {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 60%;
    background-image: url('../../../assets/img/tło2.png');
  }
}
