.container {
  display: grid;
  grid-template-areas: '. header .' '. posts .';
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 8vh min-content;
  min-height: 100vh;
}

.header {
  align-items: center;
  display: flex;
  grid-area: header;
}

.errors {
  grid-area: posts;
}

.posts {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: posts;
  justify-content: center;
  width: 100%;
}
.post {
  width: 100%;
}
