.box {
    border: 1px grey solid;
    background-color: #DCE2E8;
    width: 650px;
    height: fit-content;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;

}

.leave {
    position: fixed;
    top: 25px;
    right: 25px;
    border: none;
    background: none;
    transform: scale(2);
    display: block;
}

.leave:hover {
    cursor: pointer;
    color: black;
}

.header {
    margin: 25px;
    text-align: center;
    font-size: 35px;
    font-family: 'Raleway-Bold';
}
.content{
    margin:25px;
    text-align:justify;
    font-size: 20px;
    font-family: 'Raleway-Regular';
}