.box {
    background-color: #DCE2E8;
    border: 1px grey solid;
    border-radius: 15px;
    height: fit-content;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    z-index: 2;

}

.leave {
    background: none;
    border: none;
    display: block;
    position: fixed;
    right: 25px;
    top: 25px;
    transform: scale(2);
}

.leave:hover {
    color: black;
    cursor: pointer;
}

.header {
    font-family: 'Raleway-Bold';
    font-size: 35px;
    margin: 25px;
    text-align: center;
}
.content{
    font-family: 'Raleway-Regular';
    font-size: 20px;
    margin:25px;
    text-align:justify;
}
